force-app/main/default/flows/Complete_Task_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Screen Flow to complete task checklist items. Displays all checklist items for a task and allows marking them complete.</description>
    <interviewLabel>Complete Task Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Task Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <status>Active</status>

    <!-- Input Variable -->
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- Variable to store updated count -->
    <variables>
        <name>varCompletedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0</numberValue>
        </value>
    </variables>

    <variables>
        <name>varTotalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0</numberValue>
        </value>
    </variables>

    <!-- Start Element -->
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task_Record</targetReference>
        </connector>
    </start>

    <!-- Get Task Record -->
    <recordLookups>
        <name>Get_Task_Record</name>
        <label>Get Task Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Checklist_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task__c</object>
        <outputAssignments>
            <assignToReference>varTaskTitle</assignToReference>
            <field>Task_Title__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTaskStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>

    <variables>
        <name>varTaskTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varTaskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- Get Checklist Items -->
    <recordLookups>
        <name>Get_Checklist_Items</name>
        <label>Get Checklist Items</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Checklist_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Checklist_Item__c</object>
        <outputReference>colChecklistItems</outputReference>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>

    <variables>
        <name>colChecklistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Checklist_Item__c</objectType>
    </variables>

    <!-- Checklist Screen -->
    <screens>
        <name>Checklist_Screen</name>
        <label>Complete Checklist</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_Checklist_Items</targetReference>
        </connector>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TaskInfoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Task:&lt;/b&gt; {!varTaskTitle}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Status:&lt;/b&gt; {!varTaskStatus}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Mark checklist items as completed below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChecklistItemsSection</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ChecklistColumn</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChecklistDataTable</name>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>colChecklistItems</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{"label":"#","fieldName":"Sequence__c","type":"number"},{"label":"Description","fieldName":"Description__c","type":"text"},{"label":"Completed","fieldName":"Is_Completed__c","type":"boolean","editable":true}]</stringValue>
                        </value>
                    </inputParameters>
                    <outputParameters>
                        <name>tableData</name>
                        <assignToReference>colChecklistItems</assignToReference>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
            </fields>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- Update Checklist Items -->
    <recordUpdates>
        <name>Update_Checklist_Items</name>
        <label>Update Checklist Items</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Completion_Summary_Screen</targetReference>
        </connector>
        <inputReference>colChecklistItems</inputReference>
    </recordUpdates>

    <!-- Completion Summary Screen -->
    <screens>
        <name>Completion_Summary_Screen</name>
        <label>Checklist Updated</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompletionMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Checklist Updated Successfully&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The checklist items for task &lt;b&gt;{!varTaskTitle}&lt;/b&gt; have been updated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Finish to return to the task record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
</Flow>
