force-app/main/default/flows/Complete_Task_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Complete Task Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Task Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Checklist_Items</name>
        <label>Get Checklist Items</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_ShowChecklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Checklist_Item__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checklist_Items</name>
        <label>Save Checklist Items</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>Get_Checklist_Items</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_ShowChecklist</name>
        <label>Complete Checklist Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Checklist_Items</targetReference>
        </connector>
        <fields>
            <name>ChecklistHeader</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Task Checklist&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Review and check off completed items below, then click &lt;b&gt;Finish&lt;/b&gt; to save.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChecklistItems</name>
            <extensionName>flowruntime:recordField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Checklist_Complete__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Checklist Items Complete</stringValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>false</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Checklist_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
