force-app/main/default/flows/Update_Readiness_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <label>Update Readiness Checklist</label>
    <interviewLabel>Update Readiness Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <processType>Flow</processType>
    <status>Active</status>
    <environments>Default</environments>

    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- ─── Step 1: Fetch current story values ─────────────────────── -->
    <recordLookups>
        <name>Get_Story</name>
        <label>Get User Story</label>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ─── Step 2: Screen with 4 sections ─────────────────────────── -->
    <screens>
        <name>Screen_Checklist</name>
        <label>Update Readiness Checklist</label>
        <locationX>176</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Story</targetReference>
        </connector>

        <!-- ── Story header ── -->
        <fields>
            <name>Display_Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Story:&lt;/b&gt; {!Get_Story.Story_Title__c}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Status:&lt;/b&gt; {!Get_Story.Status__c}&lt;/p&gt;
&lt;hr/&gt;
&lt;p&gt;Tick each item as you complete it. Each save auto-closes the matching Activity Task and triggers any auto-status progressions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>

        <!-- ══════════════════════════════════════════
             SECTION 1 — Story Verification Gate
             Required before Dev In Progress
        ═══════════════════════════════════════════ -->
        <fields>
            <name>Display_Section1</name>
            <fieldText>&lt;p&gt;&lt;b style="color:#0176d3;"&gt;SECTION 1 — Story Verification Gate&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;i&gt;Must be complete before moving to Dev In Progress.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>

        <fields>
            <name>fStoryInfoVerified</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Story_Info_Verified__c</elementReference></defaultValue>
            <fieldText>Story Info Verified — Story title, description, AC, tasks and estimates all confirmed</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <!-- ══════════════════════════════════════════
             SECTION 2 — Dev Checklist
             Required before Dev Completed
        ═══════════════════════════════════════════ -->
        <fields>
            <name>Display_Section2</name>
            <fieldText>&lt;p&gt;&lt;b style="color:#0176d3;"&gt;SECTION 2 — Dev Checklist&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;i&gt;Must be complete before moving to Dev Completed.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>

        <fields>
            <name>fUnitTestingComplete</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Unit_Testing_Complete__c</elementReference></defaultValue>
            <fieldText>Unit Testing Complete — All unit tests written, run, and passing</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <!-- ══════════════════════════════════════════
             SECTION 3 — Story Readiness Checklist
             All 6 required before Completed - SIT Ready.
             Auto-progresses: some done → Formalities InProgress,
             all 6 done → Completed - SIT Ready.
        ═══════════════════════════════════════════ -->
        <fields>
            <name>Display_Section3</name>
            <fieldText>&lt;p&gt;&lt;b style="color:#0176d3;"&gt;SECTION 3 — Story Readiness Checklist&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;i&gt;All 6 items required before Completed - SIT Ready. Story auto-advances when all are ticked.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>

        <fields>
            <name>fUnitTestSheet</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Unit_Test_Sheet_Complete__c</elementReference></defaultValue>
            <fieldText>Unit Test Sheet Complete</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <fields>
            <name>fManualDeploymentSteps</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Manual_Deployment_Steps_Complete__c</elementReference></defaultValue>
            <fieldText>Manual Deployment Steps Sheet Complete</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <fields>
            <name>fBusinessDependency</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Business_Dependency_Complete__c</elementReference></defaultValue>
            <fieldText>Business Dependency Sheet Complete</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <fields>
            <name>fACUpdate</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.AC_Update_Complete__c</elementReference></defaultValue>
            <fieldText>AC Update Complete — Acceptance criteria updated and signed off</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <fields>
            <name>fPeerReview</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Peer_Review_Complete__c</elementReference></defaultValue>
            <fieldText>Peer Review Complete</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <fields>
            <name>fTranslationsSheet</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Translations_Sheet_Complete__c</elementReference></defaultValue>
            <fieldText>Translations Sheet Complete — All labels / UI text translations updated</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <!-- ══════════════════════════════════════════
             SECTION 4 — PR & SIT Gates
             PR Creation gate: required before Sent to SIT.
             Smoke Test gate: completes → Successfully Deployed to SIT.
        ═══════════════════════════════════════════ -->
        <fields>
            <name>Display_Section4</name>
            <fieldText>&lt;p&gt;&lt;b style="color:#0176d3;"&gt;SECTION 4 — PR &amp; SIT Gates&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;i&gt;PR Creation required before Sent to SIT. Smoke Test completion auto-moves story to Successfully Deployed to SIT and triggers a batch email to all ADM users.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>

        <fields>
            <name>fPRCreation</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.PR_Creation_Complete__c</elementReference></defaultValue>
            <fieldText>PR Creation Complete — PR raised, reviewed and merged</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <fields>
            <name>fSmokeTestSIT</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Smoke_Test_SIT_Complete__c</elementReference></defaultValue>
            <fieldText>Smoke Test SIT Complete — Core functionality verified post-deployment in SIT</fieldText>
            <fieldType>InputField</fieldType>
        </fields>

        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- ─── Step 3: Save all 10 fields → triggers UserStoryTrigger ── -->
    <recordUpdates>
        <name>Update_Story</name>
        <label>Save Readiness Checklist</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Story_Info_Verified__c</field>
            <value><elementReference>fStoryInfoVerified</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Testing_Complete__c</field>
            <value><elementReference>fUnitTestingComplete</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Test_Sheet_Complete__c</field>
            <value><elementReference>fUnitTestSheet</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Deployment_Steps_Complete__c</field>
            <value><elementReference>fManualDeploymentSteps</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Dependency_Complete__c</field>
            <value><elementReference>fBusinessDependency</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>AC_Update_Complete__c</field>
            <value><elementReference>fACUpdate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Peer_Review_Complete__c</field>
            <value><elementReference>fPeerReview</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Translations_Sheet_Complete__c</field>
            <value><elementReference>fTranslationsSheet</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>PR_Creation_Complete__c</field>
            <value><elementReference>fPRCreation</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Smoke_Test_SIT_Complete__c</field>
            <value><elementReference>fSmokeTestSIT</elementReference></value>
        </inputAssignments>
        <object>User_Story__c</object>
    </recordUpdates>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Story</targetReference>
        </connector>
    </start>
</Flow>
