force-app/main/default/flows/Update_Task_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Choice_New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Blocked</name>
        <choiceText>Blocked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Update Task Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Task Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_Screen.SelectedStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blocked_Reason__c</field>
            <value>
                <elementReference>Status_Screen.BlockedReason</elementReference>
            </value>
        </inputAssignments>
        <inputReference>Get_Task</inputReference>
    </recordUpdates>
    <screens>
        <name>Status_Screen</name>
        <label>Update Task Status</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <fields>
            <name>TaskInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Task:&lt;/b&gt; {!Get_Task.Task_Title__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Current Status:&lt;/b&gt; {!Get_Task.Status__c}&lt;/p&gt;&lt;p&gt;Select the new status below. If choosing &lt;i&gt;Blocked&lt;/i&gt;, please provide a reason.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedStatus</name>
            <choiceReferences>Choice_New</choiceReferences>
            <choiceReferences>Choice_InProgress</choiceReferences>
            <choiceReferences>Choice_Blocked</choiceReferences>
            <choiceReferences>Choice_Completed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlockedReason</name>
            <dataType>String</dataType>
            <fieldText>Blocked Reason (if applicable)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
