force-app/main/default/flows/Update_Task_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <label>Update Task Status</label>
    <interviewLabel>Update Task Status {!$Flow.CurrentDateTime}</interviewLabel>
    <processType>Flow</processType>
    <status>Active</status>
    <environments>Default</environments>

    <choices>
        <name>choiceNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value><stringValue>New</stringValue></value>
    </choices>
    <choices>
        <name>choiceInProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value><stringValue>In Progress</stringValue></value>
    </choices>
    <choices>
        <name>choiceBlocked</name>
        <choiceText>Blocked</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Blocked</stringValue></value>
    </choices>
    <choices>
        <name>choicePending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Pending</stringValue></value>
    </choices>
    <choices>
        <name>choiceCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Completed</stringValue></value>
    </choices>

    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- Step 1: Get the Task__c record -->
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task Record</label>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_UpdateStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- Step 2: Show current task info + status picker + blocked reason -->
    <screens>
        <name>Screen_UpdateStatus</name>
        <label>Update Task Status</label>
        <locationX>176</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Blocked_Reason</targetReference>
        </connector>
        <fields>
            <name>Info_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Task:&lt;/b&gt; {!Get_Task.Task_Title__c}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Current Status:&lt;/b&gt; {!Get_Task.Status__c}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Progress:&lt;/b&gt; {!Get_Task.Task_Progress__c}%&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varNewStatus</name>
            <choiceReferences>choiceNew</choiceReferences>
            <choiceReferences>choiceInProgress</choiceReferences>
            <choiceReferences>choiceBlocked</choiceReferences>
            <choiceReferences>choicePending</choiceReferences>
            <choiceReferences>choiceCompleted</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceInProgress</defaultSelectedChoiceReference>
            <fieldText>Select New Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>varBlockedReason</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Task.Blocked_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Blocked Reason (required if status is Blocked)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- Step 3: If Blocked + no reason → show error screen, otherwise save -->
    <decisions>
        <name>Check_Blocked_Reason</name>
        <label>Blocked with no Reason?</label>
        <locationX>176</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Update_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK — proceed to save</defaultConnectorLabel>
        <rules>
            <name>Blocked_No_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBlockedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_BlockedError</targetReference>
            </connector>
            <label>Blocked with empty reason</label>
        </rules>
    </decisions>

    <!-- Step 3a: Error screen if Blocked reason is missing -->
    <screens>
        <name>Screen_BlockedError</name>
        <label>Blocked Reason Required</label>
        <locationX>400</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_BlockedError</name>
            <fieldText>&lt;p&gt;&lt;b style="color:#c23934;"&gt;Blocked Reason is required.&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;You selected &lt;b&gt;Blocked&lt;/b&gt; but did not enter a reason. Click Back and fill in the Blocked Reason field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- Step 4: Save the task -->
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task Record</label>
        <locationX>176</locationX>
        <locationY>450</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value><elementReference>varNewStatus</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Blocked_Reason__c</field>
            <value><elementReference>varBlockedReason</elementReference></value>
        </inputAssignments>
        <object>Task__c</object>
    </recordUpdates>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
</Flow>
