force-app/main/default/flows/Update_Task_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>choiceNew</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceInProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceBlocked</name>
        <choiceText>Blocked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Update Task Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Task Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_UpdateStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>varNewStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blocked_Reason__c</field>
            <value>
                <elementReference>varBlockedReason</elementReference>
            </value>
        </inputAssignments>
        <object>Task__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_UpdateStatus</name>
        <label>Update Task Status</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <fields>
            <name>Info_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Task:&lt;/b&gt; {!Get_Task.Task_Title__c}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Current Status:&lt;/b&gt; {!Get_Task.Status__c}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Progress:&lt;/b&gt; {!Get_Task.Task_Progress__c}%&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>varNewStatus</name>
            <choiceReferences>choiceNew</choiceReferences>
            <choiceReferences>choiceInProgress</choiceReferences>
            <choiceReferences>choiceBlocked</choiceReferences>
            <choiceReferences>choiceCompleted</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceInProgress</defaultSelectedChoiceReference>
            <fieldText>Select New Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>varBlockedReason</name>
            <dataType>String</dataType>
            <fieldText>Blocked Reason (required if Blocked)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
