force-app/main/default/flows/Update_Readiness_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <label>Update Readiness Checklist</label>
    <interviewLabel>Update Readiness Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <processType>Flow</processType>
    <status>Active</status>
    <environments>Default</environments>

    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- Step 1: Get the User Story to pre-populate current checkbox values -->
    <recordLookups>
        <name>Get_Story</name>
        <label>Get User Story</label>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- Step 2: Screen — all 10 checklist fields, pre-populated -->
    <screens>
        <name>Screen_Checklist</name>
        <label>Update Readiness Checklist</label>
        <locationX>176</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Story</targetReference>
        </connector>

        <fields>
            <name>Display_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Story:&lt;/strong&gt; {!Get_Story.Story_Title__c}&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Status:&lt;/strong&gt; {!Get_Story.Status__c}&lt;/p&gt;
&lt;hr/&gt;
&lt;p&gt;Tick each item as you complete it. Saving auto-closes the matching Activity Task and triggers auto-status progressions.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;— Verification &amp; Dev Gate —&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>

        <fields>
            <name>fStoryInfoVerified</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Story_Info_Verified__c</elementReference></defaultValue>
            <fieldText>Story Info Verified (gate: required before Dev In Progress)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>fUnitTestingComplete</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Unit_Testing_Complete__c</elementReference></defaultValue>
            <fieldText>Unit Testing Complete (gate: required before Dev Completed)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>Display_ReadinessDivider</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;— Story Readiness Checklist (all 6 required before Completed - SIT Ready) —&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>

        <fields>
            <name>fUnitTestSheet</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Unit_Test_Sheet_Complete__c</elementReference></defaultValue>
            <fieldText>Unit Test Sheet Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>fManualDeploymentSteps</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Manual_Deployment_Steps_Complete__c</elementReference></defaultValue>
            <fieldText>Manual Deployment Steps Sheet Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>fBusinessDependency</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Business_Dependency_Complete__c</elementReference></defaultValue>
            <fieldText>Business Dependency Sheet Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>fACUpdate</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.AC_Update_Complete__c</elementReference></defaultValue>
            <fieldText>AC Update Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>fPeerReview</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Peer_Review_Complete__c</elementReference></defaultValue>
            <fieldText>Peer Review Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>fTranslationsSheet</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Translations_Sheet_Complete__c</elementReference></defaultValue>
            <fieldText>Translations Sheet Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>Display_PRSITDivider</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;— PR &amp; SIT Gates —&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>

        <fields>
            <name>fPRCreation</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.PR_Creation_Complete__c</elementReference></defaultValue>
            <fieldText>PR Creation Complete (gate: required before Sent to SIT — auto-moves story)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <fields>
            <name>fSmokeTestSIT</name>
            <dataType>Boolean</dataType>
            <defaultValue><elementReference>Get_Story.Smoke_Test_SIT_Complete__c</elementReference></defaultValue>
            <fieldText>Smoke Test SIT Complete (auto-moves story to Successfully Deployed to SIT)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>

        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- Step 3: Save all 10 checkboxes — triggers UserStoryTrigger auto-logic -->
    <recordUpdates>
        <name>Update_Story</name>
        <label>Save Readiness Checklist</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Story_Info_Verified__c</field>
            <value><elementReference>fStoryInfoVerified</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Testing_Complete__c</field>
            <value><elementReference>fUnitTestingComplete</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Test_Sheet_Complete__c</field>
            <value><elementReference>fUnitTestSheet</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Deployment_Steps_Complete__c</field>
            <value><elementReference>fManualDeploymentSteps</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Dependency_Complete__c</field>
            <value><elementReference>fBusinessDependency</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>AC_Update_Complete__c</field>
            <value><elementReference>fACUpdate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Peer_Review_Complete__c</field>
            <value><elementReference>fPeerReview</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Translations_Sheet_Complete__c</field>
            <value><elementReference>fTranslationsSheet</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>PR_Creation_Complete__c</field>
            <value><elementReference>fPRCreation</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Smoke_Test_SIT_Complete__c</field>
            <value><elementReference>fSmokeTestSIT</elementReference></value>
        </inputAssignments>
        <object>User_Story__c</object>
    </recordUpdates>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Story</targetReference>
        </connector>
    </start>
</Flow>
